{{ define "main" }}
<main>
    <article class="page">
        <div class="page-content">
            <h1 class="page-title">{{.Title}}</h1>
            {{ if .Content }}
            {{ .Content }}
            {{ else }}
            {{ .Description | markdownify }}
            {{ end }}
            <dl class="contents">
                {{ range .Pages }}
                <dt>
                    <a href="{{ .RelPermalink }}">{{ default .Title .LinkTitle | markdownify }}</a>
                    {{ if .Params.repolink }}
                    <a href="{{ .Params.repolink }}" target="_blank" rel="noopener me" title="{{ .Params.repolink }}"
                        class=repolink>{{ partial "fontawesome.html" (default "github" .Params.repohost) }}</a>
                    {{ end }}
                </dt>
                {{ if .Description }}
                <dd>{{ .Description | markdownify }}</dd>
                {{ end }}
                {{ end }}
            </dl>
        </div>
        <div class="meta">
            {{ if .Params.tags }}
            <span class="tags">
                <a href="/tags/">tags</a>:
                {{ range .Params.tags }}
                #<a href="{{ (urlize (printf "/tags/%s/" .)) }}" rel="tag" class="tag">{{ . }}</a>
                {{ end }}
            </span>
            {{ end }}
        </div>
    </article>
</main>
{{ end }}
