{{ define "main" }}
<main>
    <article class="post">
        <div class="post-content">
            <h1 class="post-title">{{ .Title | markdownify }}</h1>

            {{ .Content }}
        </div>

        <div class="meta">
            {{ if .Params.date }}
            <span class="post-date" title="Published: {{ .PublishDate.Format "2006-01-02T15:04Z" }}{{ if .Lastmod }}; Last Modified: {{ .Lastmod.Format "2006-01-02T15:04Z" }}{{ end }}">
                {{ .Date.Format "2006-01-02" }}
            </span>
            {{ end }}
            <span class="permalink"><a href="{{ .Permalink }}" rel="bookmark">Permalink</a></span>
            {{ if .Params.tags }}
            <span class="tags">
                <a href="/tags/">tags</a>:
                {{ range .Params.tags }}
                #<a href="{{ (urlize (printf "/tags/%s/" .)) }}" rel="tag" class="tag">{{ . }}</a>
                {{ end }}
            </span>
            {{ end }}
        </div>
    </article>
</main>
{{ end }}
