<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
<meta name="author" content="{{ default .Site.Params.Author.name .Params.author }}" />
<meta name="description" content="{{ default .Description .Summary | plainify }}" />
<meta name="keywords" content="{{ $.Site.Params.keywords }}" />
<meta name="robots" content="noodp" />
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Theme CSS -->
<link rel="stylesheet" href='{{ "css/main.css" | absURL }}' />
<link rel="stylesheet" href='{{ "css/font.css" | absURL }}' />
<link rel="stylesheet" href='{{ "css/syntax.css" | absURL }}' />

<title>{{ .Title | markdownify }} – {{ .Site.Title }}</title>
